@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Poppins&display=swap");

:root {
  --color-primary: #0c30ef;
  --color-secondary: #1c1a1a;
  --color-accent: #ffa500;
  --secondary-white: #fdf8f2;
  --primary-gray: #f4f6f6;
  --section-backg: #eae7ff;
  --title-size: 3.125rem;
}


/* RESET CSS start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: white;
  font-family: "Bai Jamjuree", sans-serif;
}
*{
  /* border: 1px solid red !important; */
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.select-style {
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--primary-gray);
}
.select-style select {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style select option {
  /* Styles for the option elements */
  background-color: var(--primary-gray) !important;
  color: var(--secondary-white) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.select-style select:focus option {
  /* Styles for focused option elements */
  background-color: var(--primary-gray) !important;

  color: var(--secondary-gray) !important;
}
.select-style select:focus {
  outline: none;
}

/* RESET CSS end*/

/* <!---------------------------------------->  */

/* Helper CSS start*/

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.items-start{
  align-items: start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
 
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-1-5 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}
.text-center {
  text-align: center;
}
/* Helper CSS end */

/* <!---------------------------------------->  */

/* Main Page */

.button--secondary {
  background-color: var(--color-secondary);
  color: var(--secondary-white);
  height: 2.625rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
}
.page--title{
    font-size: var(--title-size);
    line-height: 3.75rem;
    font-weight: 500;
    text-align: center;
}
.page--title-process{
  font-size: var(--title-size);
    line-height: 3.75rem;
    font-weight: 500;
    text-align: center;
}
.page--description {
    margin-top: 2rem;
    width: auto;
    line-height: 1.375rem;
    text-align: center;
  }


.navbar_conatiner {
  max-width: 1131px;
  margin: auto;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

#hero {
  height: 70vh;
  background-image: url(/public/images/backgroundImg.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  max-width: 2000px;
  max-height: 900px;
  margin: auto;
  padding: 0 2rem;
}
.hero-background {
  max-width: 1131px;
  margin: auto;
}
.hero_container {
  padding: 2rem 0;
  width: 26rem;
  position: relative;
  z-index: 3;
}
.hero--title {
  font-size: var(--title-size);
  line-height: 3.75rem;
}
.send-appl{
  display: flex;
}
.hero_image-container {
  width: calc(1248px - 100px);
  height: calc(836px - 100px);
  right: -100px;
  top: -5rem;
}
.hero--image {
  width: 100%;
  height: 100%;
}

#main {
  background-color: var(--section-backg);
}
.main_conatiner {
  max-width: 1131px;
  margin: auto;
  padding: 4rem 2rem 0 2rem;
}
.main--title {
  font-size: var(--title-size);
  width: 56rem;
  font-weight: 500;
}

.main_video-container {
  width: 100%;
  height: 25rem;
  border-radius: 1.563rem;

  margin-top: 2rem;
  overflow: hidden;
}
.main--video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_card-container{
    width: 100%;
    margin: 5rem 0;
}
.main--card{
    border-radius: 1.5rem;
    padding: 1.875rem;
    background-color: var(--color-primary);
    width: 32%;
 
    color: var(--secondary-white);
}
.process_container{
    margin: 4rem auto;
    max-width: 1131px;
    width: 100%;
    padding: 0 2rem;
}
.process--title{
    font-size: var(--title-size);
    margin-bottom: 2rem;
}
.page--title-mobile{
  display: none;
}
.process_image-container{
    width: 33.75rem;
    height: 31.063rem;
}
.process-image{
    width: 100%;
    height: 100%;
}
.process--number{
    width: 3.688rem;
    height: 3.5rem;
    border-radius: 1.5rem;
    background-color: var(--color-primary);
    color: var(--secondary-white);
    font-weight: 600;
}
.process--number-black{
  width: 3.688rem;
  height: 3.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-secondary);
  color: var(--secondary-white);
  font-weight: 600;
}

#faq{
    background-color: var(--section-backg);
}
.faq_container{
    padding-top: 2rem;
    margin: 4rem auto;
    max-width: 1131px;margin: 4rem auto;
    max-width: 1131px;
}
.faq_questioncard--container{
  width: 50%;
}
.faq_image--container{
  width: 29.625rem;
  height: 34.188rem;
}
.faq_image{
  width: 100%;
  height: 100%;
}
.faq_questions{
  margin-top: 3rem;
  width: 100%;
  padding: 0 2rem;
}
.question--card{
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
}
.spacing-left{
  margin-left: 1rem;
}
.question--card-questions{
  width: calc(100% - 60px);
  line-height: 1.5rem;
 font-size: 17px;
}


.contact_container{
  margin: 4rem auto;
  max-width: 1131px;
  padding: 0 2rem;
}
.contact_form{
  width: 48%;
  margin-top: 2rem;
}
.contact_text-section{
  width: 48%;
}
.contact_header{
  font-size: 4rem;
}
.contact_description{
  color: #a7a7a7;
  font-size: 1.125rem;
  line-height: 1.313rem;
}
.contact_input{
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #e6e6e6;
  border: none;
}
/* Media Queries */

.footer{
  padding: 2rem 0;
  background-color: var(--color-primary);
}
.footer_container{
  margin: auto;
  max-width: 1131px;
  padding: 3.125rem 0 1rem 0;
  color: var(--section-backg);
  padding: 0 2rem;
}
.footer_copyright{
  margin-top: 4rem;
}
.footer_title{
  margin-bottom: 1rem;
}
.footer_logo{
  margin-bottom: 2rem;
}
.footer_description{
  font-size: 15px;
  line-height: 1.5rem;
}
.container_info-container{
  width: auto;
}
.container_info-container:nth-child(1){
  width: 30%;
}
.footer_social-links{
 display: flex;
 align-items: center;
 width: 2rem;
 height: 2rem;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
  .page--title{
    font-size: 2rem;
      line-height: 2.375rem;
  }
  .navbar_navitems{
    margin-left: 1rem;
  }
  .navbar-logo{
    width: 8rem;
    height: 2rem;
  }
  .send-appl{
    display: none;
  }
  .hero_image-container{
    width: calc(440px - 100px);
    height: calc(363px - 100px);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .hero_container {
      height: 100%;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .hero-background{
      height: 100%;
    }
    .hero--title{
      font-size: 2rem;
      line-height: 2.375rem;
      text-align: center;
    }
    .main_card-container{
      flex-direction: column;
    }
    .main--card{
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    .card-description{
      margin-left: 1rem;
    }
    .process_flow{
      flex-direction: column-reverse;
    }
    .process_image-container {
      width: auto;
      height: auto;
      margin-bottom: 3rem;
  }
  .page--title-process{
    display: none;
  }
  .page--title-mobile{
    display: block;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }
  .faq_questions{
    flex-direction: column-reverse;
  }
  .faq_questioncard--container{
    width: 100%;
  }
  .faq_image--container{
    width: auto;
    height: auto;
  }
  .question--card-questions{
    width: 76%;
  }
  .process--number-black{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--secondary-white);
    font-weight: 600;
  }
  .process--number {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--secondary-white);
    font-weight: 600;
}
.contact-flow {
  flex-direction: column;
}
.contact_header{
  font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;

}
.contact_description{
  text-align: center;
}
.contact_text-section{
  width: 100%;
}
.contact_form{
  width: 100%;
}
.contact_input{
  width: 100%;
}
#form{
 align-items: end;
}
.footer-flow{
  flex-direction: column;
}
.container_info-container{
  margin-bottom: 3rem;
}
.container_info-container:nth-child(1){
  width: 100%;
}
}


/* Small Devices, Tablets */
 
@media only screen and (min-width: 601px) and (max-width: 768px) {
  
  .hero_image-container{
    display: block;
    width: calc(488px - 100px);
    height: calc(416px - 100px);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .hero_container {
      height: 100%;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .hero-background{
      height: 100%;
    }
    .hero--title{
      font-size: 2rem;
      line-height: 2.375rem;
      text-align: center;
    }
    .main_card-container{
      flex-direction: column;
    }
    .main--card{
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    .card-description{
      margin-left: 1rem;
    }
    .process_flow{
      flex-direction: column-reverse;
    }
    .process_image-container {
      width: auto;
      height: auto;
      margin-bottom: 3rem;
  }
  .page--title-process{
    display: none;
  }
  .page--title-mobile{
    display: block;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }
  .faq_questions{
    flex-direction: column-reverse;
  }
  .faq_questioncard--container{
    width: 100%;
  }
  .faq_image--container{
    width: auto;
    height: auto;
  }
  .question--card-questions{
    width: 76%;
  }
  .process--number-black{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--secondary-white);
    font-weight: 600;
  }
  .process--number {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--secondary-white);
    font-weight: 600;
}
.contact-flow {
  flex-direction: column;
}
.contact_header{
  font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;

}
.contact_description{
  text-align: center;
}
.contact_text-section{
  width: 100%;
}
.contact_form{
  width: 100%;
}
.contact_input{
  width: 100%;
}
#form{
 align-items: end;
}
.footer-flow{
  flex-direction: column;
}
.container_info-container{
  margin-bottom: 3rem;
}
.container_info-container:nth-child(1){
  width: 100%;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero_image-container {
    width: calc(788px - 100px);
    height: calc(644px - 100px);
    right: 28px;
    top: 1rem;
  }
}

/* Large Devices, Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1201px)  {
  .hero_image-container {
    width: calc(888px - 100px);
    height: calc(644px - 100px);
    right: 28px;
    top: 1rem;
  }
}

/* Extra Large Devices, Large Desktops */
@media only screen and (min-width: 1201px) {
  .hero_image-container {
    width: calc(1148px - 100px);
    height: calc(756px - 100px);
    right: -10px;
    
  }
}
@media only screen and (min-width: 1426px) {
  .hero_image-container {
    width: calc(1148px - 100px);
    height: calc(756px - 100px);
    right: -150px;
    
  }
}

  
